In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import gc
import random 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import warnings
import math
plt.style.use('seaborn-ticks')
%matplotlib inline

In [1]:
import os
import warnings
os.getcwd()

'C:\\Users\\tetiana.heorhiichuk'

How data look like

In [40]:
pd.concat([df_v,df_d], axis=1)

,Sygnatura czasowa;I am currently employed at least part-time;I identify as having a mental illness;Education;I have my own computer separate from a smart phone;I have been hospitalized before for my mental illness;How many days were you hospitalized for your mental illness (Put 0 if you never been hospitalized);I am legally disabled;I have my regular access to the internet;I live with my parents;I have a gap in my resume;Total length of any gaps in my resume in months (Put 0 if you never had any gaps in my resume in months);Annual income (including any social welfare programs) in złoty;I am unemployed;I read outside of work and school;Annual income from social welfare programs (Put 0 if you never recieved from social welfare programs);I receive food stamps;I am on section 8 housing (social housing);How many times were you hospitalized for your mental illness (Put 0 if you never been hospitalized);Lack of concentration;Anxiety;Depression;Obsessive thinking;Mood swings;Panic attacks;Compulsive behavior;Tiredness;Age;Gender;Household Income (Put Number);Device Type,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,12.06.2022 15:43;Yes;No;Some Masters;Yes;No;0;...,0,0,High School or GED,0,0,0.0,0,1,0,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,12.06.2022 16:02;Yes;No;Some Masters;Yes;No;0;...,1,1,Some Phd,1,0,0.0,0,1,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,12.06.2022 16:18;Yes;No;Completed Underraduate...,1,0,Completed Undergraduate,1,0,0.0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,12.06.2022 16:48;Yes;Yes;Some Undergraduate;Ye...,0,0,Some Undergraduate,1,0,NaN,0,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,12.06.2022 16:55;Yes;No;Some Masters;Yes;No;0;...,1,1,Completed Undergraduate,1,1,35.0,1,1,0,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,NaN,0,0,High School or GED,1,0,NaN,1,1,0,...,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
330,NaN,1,0,Some Undergraduate,1,0,0.0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
331,NaN,1,0,Some Undergraduate,1,0,0.0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
332,NaN,0,1,Some Undergraduate,0,1,1.0,1,1,1,...,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
333,NaN,1,1,Some Undergraduate,1,0,0.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [36]:
df_v = pd.read_csv("Mental Health Analysis (Odpowiedzi).csv")
df_d = pd.read_csv("Cleaned-Data.csv")
df = pd.merge(df_v, df_d, how='outer', left_on=True, right_on=True)

df.set_index('I am currently employed at least part-time', inplace = True)
df.head()

KeyError: True

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet