<center> <h1>Mental Health Analysis </h1> </center>

# <b>1 <span style='color:#F76241'>|</span> INTRODUCTION</b>

This is a survey to explore the linkage between mental illness and unemployment. The author of this survey mentioned that National Alliance on Mental Illness(NAMI) has condicted several surveys verifying the high unemployment rate among those with mental illness. 

However, this is the only survey to date which targets causation. Today in this project we would like to reproduce the original findings using the original data join with new data that we collected.

<div style="color:white;display:fill;border-radius:8px;
            background-color:#323232;font-size:150%;
            font-family:Nexa;letter-spacing:0.5px">
    <p style="padding: 8px;color:white;"><b>1.1 | STEPS</b></p>
</div>

The step of our project: - Make a survey to collection the information.

<ol>
  <li>Collect Data</li>
  <li>Import Library </li>
  <li>Load Data </li>
  <li>EDA </li>
  <li>Label Encoding </li>
  <li>Model </li>
</ol>

# <b>2 <span style='color:#F76241'>|</span> COLLECT DATA </b>

We collected data by the survey below.

- See more detail in [Kaggle Link - ATUL SINGH](https://www.kaggle.com/code/atulyaatul1999/mental-health-analysis-with-recall-score-1/notebook)

- Collect more data [The Survey](https://docs.google.com/forms/d/e/1FAIpQLSfBwspm9I3s5skzYVjWk1TZ-5c8yh1jlfJT4pYWizAfk-H6Tg/viewform)

# <b>3 <span style='color:#F76241'>|</span> IMPORT LIBRARY </b>

<div style="color:white;display:fill;border-radius:8px;
            background-color:#323232;font-size:150%;
            font-family:Nexa;letter-spacing:0.5px">
    <p style="padding: 8px;color:white;"><b>3.1 | Import Necessary Modules</b></p>
</div>

In [1]:
import numpy as np # Mathematical Functions
import pandas as pd # Data processing
import seaborn as sns # Data Visualization
import matplotlib.pyplot as plt # Creating Static Visualizations
import os # Establish The Interaction
import warnings
os.getcwd()

'/Users/jeank4723/Desktop/RR'

<div style="color:white;display:fill;border-radius:8px;
            background-color:#323232;font-size:150%;
            font-family:Nexa;letter-spacing:0.5px">
    <p style="padding: 8px;color:white;"><b>3.2 | Load Data</b></p>
</div>

In [7]:
df_v=pd.read_excel('Cleaned Data.xlsx')
df_d=pd.read_excel('Mental Health Analysis (Odpowiedzi).xlsx')

In [8]:
df_v.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet

In [9]:
df_d.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness (Put 0 if you never been hospitalized),I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income (Put Number),Region,Device Type
0,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Female,16000,Poland,iOS Phone / Tablet
1,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,Yes,No,No,Yes,18-29,Female,40000,Poland,Windows Desktop / Laptop
2,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,18-29,Male,20000,Poland,MacOS Desktop / Laptop
3,Yes,Yes,Some Undergraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,30-44,Female,40800,Poland,Windows Desktop / Laptop
4,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,Yes,No,No,No,No,30-44,Male,36000,Poland,iOS Phone / Tablet

In [34]:
list(df_v.columns)

['I am currently employed at least part-time',
 'I identify as having a mental illness',
 'Education',
 'I have my own computer separate from a smart phone',
 'I have been hospitalized before for my mental illness',
 'How many days were you hospitalized for your mental illness',
 'I am legally disabled',
 'I have my regular access to the internet',
 'I live with my parents',
 'I have a gap in my resume',
 'Total length of any gaps in my resume in\xa0months.',
 'Annual income (including any social welfare programs) in USD',
 'I am unemployed',
 'I read outside of work and school',
 'Annual income from social welfare programs',
 'I receive food stamps',
 'I am on section 8 housing',
 'How many times were you hospitalized for your mental illness',
 'Lack of concentration',
 'Anxiety',
 'Depression',
 'Obsessive thinking',
 'Mood swings',
 'Panic attacks',
 'Compulsive behavior',
 'Tiredness',
 'Age',
 'Gender',
 'Household Income',
 'Region',
 'Device Type']

In [36]:
# Rename All The Columns in df_d
df_d.columns = list(df_v.columns)

In [38]:
df_d

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Female,16000,Poland,iOS Phone / Tablet
1,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,Yes,No,No,Yes,18-29,Female,40000,Poland,Windows Desktop / Laptop
2,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,18-29,Male,20000,Poland,MacOS Desktop / Laptop
3,Yes,Yes,Some Undergraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,30-44,Female,40800,Poland,Windows Desktop / Laptop
4,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,Yes,No,No,No,No,30-44,Male,36000,Poland,iOS Phone / Tablet
5,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,No,...,Yes,Yes,Yes,Yes,Yes,30-44,Male,200000,Poland,Android Phone / Tablet
6,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,No,...,No,No,No,No,Yes,30-44,Female,0,Poland,MacOS Desktop / Laptop
7,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Male,300000,Poland,Windows Desktop / Laptop
8,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,No,No,No,No,No,18-29,Male,100000,Poland,Windows Desktop / Laptop
9,No,No,High School or GED,Yes,No,0,No,Yes,Yes,No,...,No,Yes,Yes,No,No,18-29,Female,60000,Poland,iOS Phone / Tablet
10,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,No,No,No,No,Yes,18-29,Male,60000,Poland,Android Phone / Tablet
11,Yes,No,Completed Underraduate,No,No,0,No,Yes,Yes,No,...,Yes,Yes,No,No,No,30-44,Female,600000,Poland,Windows Desktop / Laptop
12,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,No,30-44,Female,300000,Poland,Android Phone / Tablet
13,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Female,53000,Poland,iOS Phone / Tablet
14,No,Yes,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,No,No,No,No,18-29,Male,60000,Poland,Other
15,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,Yes,Yes,No,No,Yes,18-29,Female,500000,Poland,Windows Desktop / Laptop
16,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,Yes,No,No,No,30-44,Female,48000,Poland,MacOS Desktop / Laptop
17,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,No,...,No,Yes,No,No,No,30-44,Male,0,Poland,Windows Desktop / Laptop
18,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,No,No,No,No,No,18-29,Male,100000,Poland,Android Phone / Tablet
19,Yes,Yes,Completed Masters,Yes,No,0,No,Yes,Yes,No,...,Yes,No,No,No,No,30-44,Male,146705,Poland,Windows Desktop / Laptop
20,No,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,30-44,Female,20000,Poland,Android Phone / Tablet
21,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,No,...,No,Yes,No,No,Yes,18-29,Female,0,Poland,MacOS Desktop / Laptop
22,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Female,16000,Poland,iOS Phone / Tablet
23,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,No,Yes,No,No,Yes,18-29,Female,40000,Poland,Windows Desktop / Laptop
24,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,18-29,Male,20000,Poland,MacOS Desktop / Laptop
25,Yes,Yes,Some Undergraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,Yes,No,Yes,Yes,30-44,Female,40800,Poland,Windows Desktop / Laptop
26,Yes,No,Some Masters,Yes,No,0,No,Yes,No,Yes,...,Yes,No,No,No,No,30-44,Male,36000,Poland,iOS Phone / Tablet
27,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,No,...,Yes,Yes,Yes,Yes,Yes,30-44,Male,200000,Poland,Android Phone / Tablet
28,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,No,...,No,No,No,No,Yes,30-44,Female,0,Poland,MacOS Desktop / Laptop
29,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Male,300000,Poland,Windows Desktop / Laptop
30,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,No,No,No,No,No,18-29,Male,100000,Poland,Windows Desktop / Laptop
31,No,No,High School or GED,Yes,No,0,No,Yes,Yes,No,...,No,Yes,Yes,No,No,18-29,Female,60000,Poland,iOS Phone / Tablet
32,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,No,No,No,No,Yes,18-29,Male,60000,Poland,Android Phone / Tablet
33,Yes,No,Completed Underraduate,No,No,0,No,Yes,Yes,No,...,Yes,Yes,No,No,No,30-44,Female,600000,Poland,Windows Desktop / Laptop
34,Yes,No,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,No,30-44,Female,300000,Poland,Android Phone / Tablet
35,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,No,No,No,Yes,18-29,Female,53000,Poland,iOS Phone / Tablet
36,No,Yes,Completed Underraduate,Yes,No,0,No,Yes,No,Yes,...,Yes,No,No,No,No,18-29,Male,60000,Poland,Other
37,Yes,No,Some Masters,Yes,No,0,No,Yes,No,No,...,Yes,Yes,No,No,Yes,18-29,Female,500000,Poland,Windows Desktop / Laptop
38,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,Yes,...,No,Yes,No,No,No,30-44,Female,48000,Poland,MacOS Desktop / Laptop
39,Yes,No,Completed Masters,Yes,No,0,No,Yes,No,No,...,No,Yes,No,No,No,30-44,Male,0,Poland,Windows Desktop / Laptop

<div style="color:white;display:fill;border-radius:8px;
            background-color:#323232;font-size:150%;
            font-family:Nexa;letter-spacing:0.5px">
    <p style="padding: 8px;color:white;"><b>3.2 | Clean Data</b></p>
</div>

In [50]:
# Changed all the YES/NO into 1/0
df_d_new = df_d.replace({'Yes': 1,'No': 0})

# Changed the currency of the Income (1 U.S. dollar = 4.47753843 Polish zloty)
df_d_new['Household Income'] = df_d_new['Household Income']/4.47753843
df_d_new['Annual income (including any social welfare programs) in USD'] = df_d_new['Annual income (including any social welfare programs) in USD']/4.47753843
df_d_new['Annual income from social welfare programs'] = df_d_new['Annual income from social welfare programs']/4.47753843

In [54]:
# Check the interval in column 'Household Income'
df_v['Household Income'].nunique()
# $0-$9,999
# $10,000-$24,999
# $25,000-$49,999
# $50,000-$74,999
# $75,000-$99,999
# $100,000-$124,999
# $125,000-$149,999
# $150,000-$174,999
# $175,000-$199,999
# $200,000+
# Prefer not to answer

11

In [90]:
# Change the integer into interval string same as Clean Data
All_Conditions = [
    (df_d_new['Household Income'] >= 200000),
    (df_d_new['Household Income'] >= 175000) & (df_d_new['Household Income'] <= 199999),
    (df_d_new['Household Income'] >= 150000) & (df_d_new['Household Income'] <= 174999),
    (df_d_new['Household Income'] >= 125000) & (df_d_new['Household Income'] <= 149999),
    (df_d_new['Household Income'] >= 100000) & (df_d_new['Household Income'] <= 124999),
    (df_d_new['Household Income'] >= 75000) & (df_d_new['Household Income'] <= 99999),
    (df_d_new['Household Income'] >= 50000) & (df_d_new['Household Income'] <= 74999),
    (df_d_new['Household Income'] >= 25000) & (df_d_new['Household Income'] <= 49999),
    (df_d_new['Household Income'] >= 10000) & (df_d_new['Household Income'] <= 24999),
    (df_d_new['Household Income'] >= 0) & (df_d_new['Household Income'] <= 9999)
]
All_Categories = ['$200,000+','$175,000-$199,999', '$150,000-$174,999', 
                  '$125,000-$149,999', '$100,000-$124,999', 
                  '$75,000-$99,999' ,'$50,000-$74,999', 
                  '$25,000-$49,999', '$10,000-$24,999', 
                  '$0-$9,999'
]
df_d_new['Household Income'] = np.select(All_Conditions, All_Categories)

0             $0-$9,999
1             $0-$9,999
2             $0-$9,999
3             $0-$9,999
4             $0-$9,999
5       $25,000-$49,999
6             $0-$9,999
7       $50,000-$74,999
8       $10,000-$24,999
9       $10,000-$24,999
10      $10,000-$24,999
11    $125,000-$149,999
12      $50,000-$74,999
13      $10,000-$24,999
14      $10,000-$24,999
15    $100,000-$124,999
16      $10,000-$24,999
17            $0-$9,999
18      $10,000-$24,999
19      $25,000-$49,999
20            $0-$9,999
21            $0-$9,999
22            $0-$9,999
23            $0-$9,999
24            $0-$9,999
25            $0-$9,999
26            $0-$9,999
27      $25,000-$49,999
28            $0-$9,999
29      $50,000-$74,999
30      $10,000-$24,999
31      $10,000-$24,999
32      $10,000-$24,999
33    $125,000-$149,999
34      $50,000-$74,999
35      $10,000-$24,999
36      $10,000-$24,999
37    $100,000-$124,999
38      $10,000-$24,999
39            $0-$9,999
Name: Household Income, dtype: object

In [92]:
df_d_new.dtypes
df_d_new.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,1,0,Some Masters,1,0,0,0,1,0,1,...,0,0,0,0,1,18-29,Female,"$0-$9,999",Poland,iOS Phone / Tablet
1,1,0,Some Masters,1,0,0,0,1,0,1,...,0,1,0,0,1,18-29,Female,"$0-$9,999",Poland,Windows Desktop / Laptop
2,1,0,Completed Underraduate,1,0,0,0,1,0,1,...,1,1,0,1,1,18-29,Male,"$0-$9,999",Poland,MacOS Desktop / Laptop
3,1,1,Some Undergraduate,1,0,0,0,1,0,1,...,1,1,0,1,1,30-44,Female,"$0-$9,999",Poland,Windows Desktop / Laptop
4,1,0,Some Masters,1,0,0,0,1,0,1,...,1,0,0,0,0,30-44,Male,"$0-$9,999",Poland,iOS Phone / Tablet

<div style="color:white;display:fill;border-radius:8px;
            background-color:#323232;font-size:150%;
            font-family:Nexa;letter-spacing:0.5px">
    <p style="padding: 8px;color:white;"><b>3.3 | Merge Data</b></p>
</div>

In [93]:
df = df_v.append(df_d_new, ignore_index = True)

In [94]:
df

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
5,1,0,High School or GED,1,0,0.0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",South Atlantic,Android Phone / Tablet
6,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$100,000-$124,999",Middle Atlantic,Windows Desktop / Laptop
7,1,1,Some Undergraduate,1,0,0.0,0,1,1,0,...,0.0,0.0,1.0,1.0,1.0,18-29,Male,"$100,000-$124,999",Middle Atlantic,Windows Desktop / Laptop
8,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$50,000-$74,999",South Atlantic,iOS Phone / Tablet
9,1,1,SomeÂ Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$125,000-$149,999",South Atlantic,Android Phone / Tablet
10,0,0,Completed Undergraduate,1,0,NaN,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",Mountain,Windows Desktop / Laptop
11,1,1,Completed Undergraduate,1,0,0.0,0,1,0,0,...,1.0,0.0,0.0,1.0,0.0,18-29,Male,Prefer not to answer,Pacific,iOS Phone / Tablet
12,1,1,Completed Undergraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$50,000-$74,999",Middle Atlantic,Windows Desktop / Laptop
13,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Pacific,Windows Desktop / Laptop
14,1,1,High School or GED,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$50,000-$74,999",New England,iOS Phone / Tablet
15,1,0,Completed Undergraduate,1,0,NaN,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$150,000-$174,999",South Atlantic,iOS Phone / Tablet
16,0,1,SomeÂ Masters,1,1,65.0,1,1,1,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$10,000-$24,999",East South Central,Android Phone / Tablet
17,0,0,Some Undergraduate,1,0,0.0,0,1,0,0,...,0.0,1.0,0.0,0.0,0.0,18-29,Male,"$0-$9,999",New England,Windows Desktop / Laptop
18,1,1,SomeÂ Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$50,000-$74,999",Mountain,Windows Desktop / Laptop
19,1,0,Completed Phd,0,0,NaN,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",Pacific,Android Phone / Tablet
20,1,1,Some Undergraduate,1,0,0.0,0,0,0,0,...,1.0,1.0,0.0,0.0,1.0,30-44,Male,"$100,000-$124,999",Pacific,iOS Phone / Tablet
21,1,1,Completed Masters,0,0,20.0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,18-29,Male,"$25,000-$49,999",Pacific,Android Phone / Tablet
22,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,0.0,30-44,Male,"$75,000-$99,999",South Atlantic,Android Phone / Tablet
23,1,0,Some Undergraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$25,000-$49,999",West South Central,Windows Desktop / Laptop
24,1,0,SomeÂ Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$125,000-$149,999",Pacific,Windows Desktop / Laptop
25,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",West North Central,MacOS Desktop / Laptop
26,1,0,High School or GED,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$50,000-$74,999",South Atlantic,Android Phone / Tablet
27,1,0,Some Undergraduate,1,0,NaN,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Male,"$75,000-$99,999",New England,Android Phone / Tablet
28,0,0,Some Undergraduate,1,0,0.0,0,1,1,0,...,0.0,0.0,1.0,0.0,0.0,18-29,Male,Prefer not to answer,East North Central,Windows Desktop / Laptop
29,1,0,Completed Masters,0,0,NaN,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$100,000-$124,999",South Atlantic,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,1,0,Some Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,18-29,Male,"$10,000-$24,999",Poland,Android Phone / Tablet
345,1,0,Completed Underraduate,0,0,0.0,0,1,1,0,...,1.0,1.0,0.0,0.0,0.0,30-44,Female,"$125,000-$149,999",Poland,Windows Desktop / Laptop
346,1,0,Completed Underraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Female,"$50,000-$74,999",Poland,Android Phone / Tablet
347,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,18-29,Female,"$10,000-$24,999",Poland,iOS Phone / Tablet
348,0,1,Completed Underraduate,1,0,0.0,0,1,0,1,...,1.0,0.0,0.0,0.0,0.0,18-29,Male,"$10,000-$24,999",Poland,Other
349,1,0,Some Masters,1,0,0.0,0,1,0,0,...,1.0,1.0,0.0,0.0,1.0,18-29,Female,"$100,000-$124,999",Poland,Windows Desktop / Laptop
350,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,1.0,0.0,0.0,0.0,30-44,Female,"$10,000-$24,999",Poland,MacOS Desktop / Laptop
351,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,0.0,1.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",Poland,Windows Desktop / Laptop
352,1,0,Some Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$10,000-$24,999",Poland,Android Phone / Tablet
353,1,1,Completed Masters,1,0,0.0,0,1,1,0,...,1.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Poland,Windows Desktop / Laptop
354,0,0,Completed Underraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,30-44,Female,"$0-$9,999",Poland,Android Phone / Tablet
355,1,0,Completed Underraduate,1,0,0.0,0,1,0,0,...,0.0,1.0,0.0,0.0,1.0,18-29,Female,"$0-$9,999",Poland,MacOS Desktop / Laptop
356,1,0,Some Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,18-29,Female,"$0-$9,999",Poland,iOS Phone / Tablet
357,1,0,Some Masters,1,0,0.0,0,1,0,1,...,0.0,1.0,0.0,0.0,1.0,18-29,Female,"$0-$9,999",Poland,Windows Desktop / Laptop
358,1,0,Completed Underraduate,1,0,0.0,0,1,0,1,...,1.0,1.0,0.0,1.0,1.0,18-29,Male,"$0-$9,999",Poland,MacOS Desktop / Laptop
359,1,1,Some Undergraduate,1,0,0.0,0,1,0,1,...,1.0,1.0,0.0,1.0,1.0,30-44,Female,"$0-$9,999",Poland,Windows Desktop / Laptop
360,1,0,Some Masters,1,0,0.0,0,1,0,1,...,1.0,0.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",Poland,iOS Phone / Tablet
361,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",Poland,Android Phone / Tablet
362,1,0,Completed Underraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,30-44,Female,"$0-$9,999",Poland,MacOS Desktop / Laptop
363,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,18-29,Male,"$50,000-$74,999",Poland,Windows Desktop / Laptop
364,1,0,Some Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$10,000-$24,999",Poland,Windows Desktop / Laptop
365,0,0,High School or GED,1,0,0.0,0,1,1,0,...,0.0,1.0,1.0,0.0,0.0,18-29,Female,"$10,000-$24,999",Poland,iOS Phone / Tablet
366,1,0,Some Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,1.0,18-29,Male,"$10,000-$24,999",Poland,Android Phone / Tablet
367,1,0,Completed Underraduate,0,0,0.0,0,1,1,0,...,1.0,1.0,0.0,0.0,0.0,30-44,Female,"$125,000-$149,999",Poland,Windows Desktop / Laptop
368,1,0,Completed Underraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Female,"$50,000-$74,999",Poland,Android Phone / Tablet
369,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,18-29,Female,"$10,000-$24,999",Poland,iOS Phone / Tablet
370,0,1,Completed Underraduate,1,0,0.0,0,1,0,1,...,1.0,0.0,0.0,0.0,0.0,18-29,Male,"$10,000-$24,999",Poland,Other
371,1,0,Some Masters,1,0,0.0,0,1,0,0,...,1.0,1.0,0.0,0.0,1.0,18-29,Female,"$100,000-$124,999",Poland,Windows Desktop / Laptop
372,1,0,Completed Masters,1,0,0.0,0,1,0,1,...,0.0,1.0,0.0,0.0,0.0,30-44,Female,"$10,000-$24,999",Poland,MacOS Desktop / Laptop
373,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,0.0,1.0,0.0,0.0,0.0,30-44,Male,"$0-$9,999",Poland,Windows Desktop / Laptop

In [101]:
df.isnull().sum()

I am currently employed at least part-time                       0
I identify as having a mental illness                            0
Education                                                        0
I have my own computer separate from a smart phone               0
I have been hospitalized before for my mental illness            0
How many days were you hospitalized for your mental illness     37
I am legally disabled                                            0
I have my regular access to the internet                         0
I live with my parents                                           0
I have a gap in my resume                                        0
Total length of any gaps in my resume inÂ months.                 0
Annual income (including any social welfare programs) in USD     0
I am unemployed                                                  0
I read outside of work and school                                0
Annual income from social welfare programs                       0
I receive food stamps                                            0
I am on section 8 housing                                        0
How many times were you hospitalized for your mental illness     0
Lack of concentration                                            1
Anxiety                                                          0
Depression                                                       0
Obsessive thinking                                               1
Mood swings                                                      1
Panic attacks                                                    1
Compulsive behavior                                              1
Tiredness                                                        1
Age                                                              0
Gender                                                           0
Household Income                                                 0
Region                                                           2
Device Type                                                      0
dtype: int64